packages:
  yum:
    amazon-efs-utils: []

commands:
  01_mount:
    command: |
      EFS_REGION=ap-southeast-1
      EFS_FILE_SYSTEM_ID=fs-08f4ba126f8d806df
      EFS_MOUNT_DIR=/flashcards-shared
      
      mkdir -p ${EFS_MOUNT_DIR}
      echo "${EFS_FILE_SYSTEM_ID}.efs.${EFS_REGION}.amazonaws.com:/ ${EFS_MOUNT_DIR} efs tls,_netdev" >> /etc/fstab
      mount -a -t efs defaults

option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASHCARDS_DATA_DIR: '/flashcards-shared'