packages:
  yum:
    amazon-efs-utils: []

container_commands:
  01_mount_efs:
    command: |
      mkdir -p /mnt/efs-flashcards
      mount -t efs -o tls,region=ap-southeast-1 fs-08f4ba126f8d806df:/ /mnt/efs-flashcards
  02_chown_efs:
    command: chown -R webapp:webapp /mnt/efs-flashcards

option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASHCARDS_DATA_DIR: "/mnt/efs-flashcards/data"
