packages:
  yum:
    certbot: []

container_commands:
  00_stop_nginx:
    command: "service nginx stop"
  01_certbot:
    command: |
      certbot certonly --standalone --expand -d nordwyn.net -d www.nordwyn.net --non-interactive --agree-tos --email keller_jens@hotmail.com
  02_start_nginx:
    command: "service nginx start"
