body {
    font: 1.5em sans-serif;
}

a {
    text-decoration: none;
}

button {
    font: inherit;
    border: none;
    background: transparent;
}

td:first-child {
    font-weight: bold;
    width: 10%;
}

input {
    font: inherit;
}
