body {
    font: calc(min(5vw, 5vh * 2 / 3)) sans-serif;
}

a {
    text-decoration: none;
}

button {
    font: inherit;
    border: none;
    background: transparent;
}

input {
    font: inherit;
}
